.nav-link.active,
.nav-link:hover {
    color: rgb(225, 103, 13) !important;

}


.header-bg {
    background: rgb(11,28,58);
    background: linear-gradient(0deg, rgba(11,28,58,0.5130427170868348) 0%, rgba(11,28,58,1) 36%);
}